$primaryColor: #004EC2;
$primaryColor75: #407AD1;
$primaryColor50: #80A7E1;
$primaryColor25: #BFD3F0;
$primaryColor10: #E6EDF9;
$secondary1: #FF4B06;
$secondary2: #FBBC05;
$secondary3: #34A853;
$black: #000000;
$dark: #222222;
$darkGray: #434F5B;
$darkLight: #73808D;
$gray: #E5E5E5;
$white: #FFFFFF;
    